# Include documentation
include README.md
include LICENSE
include requirements.txt

# Include static assets
recursive-include inventree_rop_engine/static *.js *.html *.css

# Exclude unnecessary files
global-exclude *.pyc
global-exclude __pycache__
global-exclude *.pyo
global-exclude .git*
